:root {
	--clr-primary-1: #453227;
	--clr-primary-2: #5f4435;
	--clr-primary-3: #795744;
	--clr-primary-4: #936a53;
	--clr-primary-5: #ab7a5f;
	--clr-primary-6: #b99179;
	--clr-primary-7: #c5a491;
	--clr-primary-8: #d1b6a8;
	--clr-primary-9: #decbc0;
	--clr-primary-10: #eaded7;
	--clr-grey-1: #102a42;
	--clr-grey-2: #243a52;
	--clr-grey-3: #324d67;
	--clr-grey-4: #48647f;
	--clr-grey-5: #617d98;
	--clr-grey-6: #829ab0;
	--clr-grey-7: #9eb2c7;
	--clr-grey-8: #bcccdc;
	--clr-grey-9: #dae2ec;
	--clr-grey-10: #f1f5f8;
	--clr-white: #fff;
	--clr-red-dark: #bb2525;
	--clr-red-light: #e66b6b;
	--clr-green-dark: #25bb32;
	--clr-green-light: #6be675;
	--clr-black: #222;
	--transition: all 0.3s linear;
	--late-transition: all 1.5s linear;
	--spacing: 0.1rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--max-width: 1170px;
	--fixed-width: 620px;
}

html,
body {
	letter-spacing: var(--spacing);
	padding: 0;
	margin: 0;
	font-family: Roboto, rob -apple-system, BlinkMacSystemFont, Segoe UI, , Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* custom styles */
.primary {
	color: var(--clr-primary-2);
	transition: var(--transition);
}
.primary:hover {
	color: var(--clr-primary-3);
	border-bottom: 1px solid;
	border-color: var(--clr-primary-3);
}
.primary.active {
	color: var(--clr-primary-3);
	border-bottom: 1px solid;
	border-color: var(--clr-primary-3);
}

.icon {
	color: var(--clr-primary-2);
	font-size: 1.3rem;
	cursor: pointer;
}

.icon-close {
	color: var(--clr-red-dark);
	font-size: 1.3rem;
	cursor: pointer;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 4;
	margin: 0;
	padding: 0;
	width: 0;
	background-color: #fff;
	position: fixed;
	height: 100vh;
	overflow: auto;
	transition: all 0.3s linear !important;
}
.sidebar.show {
	width: 250px;
}

.sidebar a {
	display: flex;
	height: 40px;
	margin-bottom: 4px;
	padding-top: 2px;
	padding-left: 10px;
	text-decoration: none;
}
.sidebar a.active {
	background-color: var(--clr-primary-3);
	color: #fff !important;
}
.sidebar a:hover:not(.active) {
	background-color: #555;
	color: #fff !important;
}

.hero-p {
	max-width: 45em;
	margin-bottom: 2rem;
	color: var(--clr-grey-5);
}

.hero-display {
	position: relative;
	width: 80%;
	height: 100%;
}
.hero-display::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 560px;
	background: var(--clr-primary-9);
	bottom: 0%;
	left: -8%;
	right: 0;
	border-radius: var(--radius);
}

.crumbs {
	background: var(--clr-primary-10);
	min-height: 18vh;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

/* ant design overrides */

.ant-btn-primary {
	color: #ffffff;
	border-color: #ab7a5f !important;
	background: #ab7a5f !important;
}

.ant-btn-primary:hover {
	border-color: #d18054 !important;
	background: #d18054 !important;
}

.ant-input {
	box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
	border-radius: 4px !important;
	border: none !important;
	outline: none !important;
}

.ant-input:hover,
.ant-input:active,
.ant-input:focus {
	border-color: #ab7a5f !important;
	border-right-width: 1px !important;
	box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08) !important;
	outline: none !important;
}

.password .ant-input {
	box-shadow: none !important;
}

.ant-input-affix-wrapper-lg {
	box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08) !important;
	border-radius: 4px !important;
	border: none !important;
	outline: none !important;
}
